.options-wrapper {
    display: none;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--color-foreground);
    width: 100%;
    max-width: 40vw;
    min-height: 1rem;
    height: auto;
}

.options-area {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-lighten-5);
    border-style: solid;
    border-color: var(--color-foreground);
    border-width: 5px;
    border-radius: 10%;
    color: var(--color-tag-general);
}

.option.focus {
    background-color: var(--color-foreground);
}
.highlighted-post {
    outline: 5px solid #ff0000;
}

article.thumbnail.hovered {
    position: relative;
    z-index: 1000;
    width: max-content;
    height: max-content;
    overflow: visible;
    transform: translateX(var(--hover-x, 0px))
}

section.posts-container article.thumbnail.hovered {
    width: max-content;
    height: max-content;
}

section.posts-container article.thumbnail.hovered .thm-desc{
    max-width: 40vw;
}

article.thumbnail.hovered .thm-link {
    aspect-ratio: auto;
    display: block;
    width: max-content;
    min-width: max-content;
    max-width: none;

    height: max-content;
}

article.thumbnail.hovered picture {
    display: block;
    width: max-content;
    height: max-content;
}

article.thumbnail.hovered img {
    display: block;
    width: auto;
    height: auto;
    max-width: 40vw;
    max-height: 40dvh;
}
